version: '3.9'

services:
  db:
    image: postgres:16
    container_name: auth_DB
    restart: always
    environment:
      POSTGRES_DB: VaccinationCardAuth
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - auth_data:/var/lib/postgresql/data

volumes:
  auth_data:
