<h1>Carteirinha de vacinação</h1>

<form [formGroup]="form">
  <app-input formControlName="name" readOnly label="Nome" />
  <app-input formControlName="age" readOnly label="Idade" />
  <app-input formControlName="gender" readOnly label="Sexo" />
</form>

<div class="vaccination-card">
  @if (vaccinationcard) {
  <table>
    <thead>
      <tr>
        <th>Dose</th>
        @for (vaccine of vaccinationcard.vaccines; track vaccine.id) {
          <th>{{ vaccine.name }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (dose of vaccinationcard.doses; track $index) {
        <tr>
          <td>{{ dose | vaccinationDose }}</td>
          @for (vaccination of dose.vaccinations; track $index) {
            @if (vaccination.available) {
              @if (vaccination.applied) {
                <td class="clickable"  (click)="onClickInVaccination(vaccination.id!)">
                  {{ vaccination.vaccinationDate | brDate}} <img src="/assets/icons/trash_red.svg">
                </td>
              }
              @else if(vaccination.absent) {
                <td (click)="onClickVaccineAbsent(vaccination.vaccineId)" class="clickable" >
                  Faltoso <img src="/assets/icons/add_circle.svg">
                </td>
              }
              @else {
                <td></td>
              }
            }
            @else {
              <td [ngStyle]="{ backgroundColor: 'grey' }">N/A</td>
            }

          }
        </tr>
      }
    </tbody>
  </table>
  }
</div>

@if (showCreateVaccinationModal) {
  <app-create-vaccination-modal [personId]="personId" [vaccineId]="currentVaccineId!"
  (cancel)="showCreateVaccinationModal = false"
  (created)="onCreate($event)" />
}

@if (showDeleteVaccinationModal) {
  <app-delete-vaccination-modal [vaccinationId]="currentVaccinationId!"
  (cancel)="showDeleteVaccinationModal = false"
  (deleted)="onDeleted()" />
}