:host{
  position: absolute;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: var(--loader-background);

}

.loader{
  border: .5rem solid var(--loader-color);
  border-top: .5rem solid transparent;
  border-radius: 50%;
  width: 3.625rem;
  height: 3.625rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
