<h1>Pessoas</h1>

<div class="tools">
  <app-button text="Cadatrar pessoa" width="fit-content" (click)="showCreatePersonModal = true"/>
</div>

<table>
  <thead>
    <th>Nome</th>
    <th>Sexo</th>
    <th>Data de nascimento</th>
    <th colspan="2">Ações</th>
  </thead>
  <tbody>
    @for (person of (page$ | async)?.items ?? []; track person.id) {
      <tr>
        <td>{{ person.firstName }} {{ person.lastName }}</td>
        <td>{{ person.gender | gender }}</td>
        <td>{{ person.birthDate | brDate }}</td>
        <td style="cursor: pointer;" (click)="goToVaccinationCard(person.id)" >Ver carteirinha</td>
        <td style="cursor: pointer;" >Excluir</td>
      </tr>
    }
  </tbody>
</table>

@if (showCreatePersonModal) {
  <app-create-person-modal
   (cancel)="showCreatePersonModal = false"
   (created)="onCreate($event)" />
}