<h1>Vacinas</h1>

<div class="tools">
  <app-button text="Cadatrar vacina" width="fit-content" (click)="showCreateVaccineModal = true"/>
</div>

<table>
  <thead>
    <th>Nome</th>
    <th>Doses primárias</th>
    <th>Doses reforço</th>
  </thead>
  <tbody>
    @for (vaccine of vaccines$ | async; track vaccine.id) {
      <tr>
        <td>{{ vaccine.name }}</td>
        <td>{{ vaccine.doses }}</td>
        <td>{{ vaccine.boosterDoses }}</td>
      </tr>
    }
  </tbody>
</table>

@if (showCreateVaccineModal) {
  <app-create-vaccine-modal (cancel)="showCreateVaccineModal = false"
  (created)="onCreate($event)" />
}
