@import "./app/ui/styles/colors.scss";
/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

html, body {
  // max-width: 100vw;
  margin: 0;
  height: 100%;
}

table{
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  th{
    border: 1px solid #ccc;
    background-color: gray;
  }
  td{
    padding: 1rem;
    border: 1px solid #ccc;
  }
}

